.App {
  background: rgb(13, 8, 65);
  background: linear-gradient(52deg, rgba(13, 8, 65, 1) 0%, rgba(24, 18, 120, 1) 4%, rgba(22, 17, 119, 1) 31%, rgba(25, 18, 120, 1) 44%, rgba(38, 25, 126, 0.9026961126247374) 75%, rgba(64, 10, 90, 1) 95%);
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */